<div>
  <strong><%= import.name %></strong>
  <%= "(in progress...)" unless import.imported? %>
  <p>
    Gross revenue: <%= import.gross_revenue %><br />
    Progress: <%= import.progress[:success] %><br />
    <% if import.progress[:error] > 0 %>
    Error(s): <%= import.progress[:error] %><br />
    <% end %>
  </p>
</div>
